
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Sondage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="active"> <a class="nav-link active" aria-current="question" routerLinkActive="active" routerLink="question">Sondage n°1</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="eloquestion">Sondage n°2</a></li>
        <!-- <li><a class="nav-link" routerLinkActive="active" routerLink="countries">Card</a></li> -->
        <li><a class="nav-link" routerLinkActive="active" routerLink="edit-question">R</a></li>
        <!-- <li><a class="nav-link" routerLinkActive="active" routerLink="shoppingCart">shoppingCart</a></li> -->
       
        <!-- <li><a class="nav-link" routerLinkActive="active" routerLink="productList">productList</a></li> -->
        
        
      </ul>
     
      <!-- <form class="form-inline my-2 my-lg-0">
       
        <p><a class=" form-control mr-sm-2 nav-link" routerLinkActive="active" routerLink="loginpage">Profile</a></p>
        <p><a class=" form-control mr-sm-2 nav-link" routerLinkActive="active" routerLink="shoppingCart">Cart</a></p>
        <br>
        <br>
        <br>
        
      </form> -->
    </div>
  </nav>


  
 
<router-outlet></router-outlet>







