
  <nav class="navbar navbar-expand-lg" style="background-image: url(assets/bosch.svg);" >
    
    <a class="navbar-brand" href="#">
      <img src="assets/elm1.svg" alt="logo"   class="img" width="150" height="80">
      
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="active"> <a class="nav-link active" style=" color:white ; "  aria-current="question" routerLinkActive="active" routerLink="question">Sondage n°1</a></li>
        <li><a class="nav-link" routerLinkActive="active" style=" color:white ; " routerLink="eloquestion">Sondage n°2</a></li>
     
        <li><a class="nav-link" routerLinkActive="active" routerLink="edit-question">R</a></li>
       
        
      </ul>
      <img src="assets/bosch-logo.png" alt="logo"    class="img" width="110" height="80">

    </div>
  </nav>


  
 
<router-outlet></router-outlet>







