
<div class="form-group" *ngFor="let quest of questions" >
  <br>
      <ul class="list-group list-group-horizontal" >
        <li class="list-group-item">{{quest.id}}</li>
        <li class="list-group-item">{{quest.nom}}</li>
        <li class="list-group-item">{{quest.prenom}}</li>
        <li class="list-group-item"> {{quest.question1}}</li>
        <li class="list-group-item">{{quest.question2}}</li>
        <li class="list-group-item">{{quest.question3}}</li>
        <li class="list-group-item">{{quest.question4}}</li>
        <li class="list-group-item">{{quest.question5}}</li>
        <li class="list-group-item">{{quest.question6}}</li>
        <li class="list-group-item">{{quest.question7}}</li>
        <li class="list-group-item">{{quest.question8}}</li>
        <li class="list-group-item">{{quest.question9}}</li>
        <li class="list-group-item">{{quest.question10}}</li>
        <li class="list-group-item">{{quest.question11}}</li>
        <li class="list-group-item">{{quest.question12}}</li>
        <li class="list-group-item">{{quest.question13}}</li>
        <li class="list-group-item">{{quest.question14}}</li>
        <li class="list-group-item">{{quest.question15}}</li>
        <li class="list-group-item">{{quest.question16}}</li>
        <li class="list-group-item">{{quest.question17}}</li>
        <li class="list-group-item">{{quest.question18}}</li>
        <li class="list-group-item">{{quest.question19}}</li>
        <li class="list-group-item">{{quest.question20}}</li>
        <li class="list-group-item">{{quest.question21}}</li>
        <li class="list-group-item">{{quest.question22}}</li>
        <li class="list-group-item">{{quest.question23}}</li>
        <li class="list-group-item">{{quest.question23}}</li>
        <li class="list-group-item">{{quest.question24}}</li>
        <li class="list-group-item">{{quest.question25}}</li>
        <li class="list-group-item">{{quest.question26}}</li>
        <li class="list-group-item">{{quest.question27}}</li>
        <li class="list-group-item">{{quest.question28}}</li>
        <li class="list-group-item">{{quest.question29}}</li>
        <li class="list-group-item">{{quest.question30}}</li>
      </ul>
    

</div>


