<!-- <h1 style="text-align: center;">Memoire Fin d'étude</h1> --> 

<img src="assets/logo3.jpg" alt="logo" class="img">

<!-- <p style="font-size:large;">L'objectif de ce travail est de tirer les leçons d'un projet précédemment réalisé au sein de l'entreprise, et
    donc terminé et sur lequel vous n’êtes pas intervenu. De plus, il est accompagné d'une dimension
    économique. Ce document définit un cadre de référence pour mener à bien cette mission. Selon la nature
    de l'entreprise et du projet choisi, il est nécessaire de redimensionner le périmètre d'études. Les items listés
    ci-dessous ne sont pas exhaustifs, mais ils donnent une structure partielle du rapport. Les grands titres
    doivent être respectés. 
    </p> -->

<div class="survey-container contentcontainer codecontainer">
    <survey [model]="model" ></survey>
    
</div>


